
.image__style {
    border: 5px solid #08090A;
    border-radius: 5px;
}

.jumbotron__container {
    text-align: center;
    justify-content: center;
}

.navbar_styles {
    background-color: #08090A;
    color: #F4F7F5;
}

footer {
    background-color: #08090A;
    color: #F4F7F5;
}

.textbox__styles {
 background-color: #575A5E;
 color: #F4F7F5;
 border-radius: 5px;
 border: 5px solid #08090A;
}

.headshot__styles {
    border-radius: 5px;
    border: 0px solid;
}

.section__styles {
    max-width: 35%;
    max-height: 300px;
}